---
import { Image } from "astro:assets";

const items = [
  {
    caption: 'DevuConf 2023 - Networking',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-08-03+devuconf-v1-orizaba/img1.jpeg',
    description: '',
  },
  {
    caption: 'DevuConf 2023 - Ponentes',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-08-03+devuconf-v1-orizaba/img4.jpeg',
    description: '',
  },
  {
    caption: 'DevuConf 2023 - Networking',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-08-03+devuconf-v1-orizaba/img2.jpeg',
    description: '',
  },
  {
    caption: 'DevuConf 2023 - Kit especial',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-08-03+devuconf-v1-orizaba/kit.png',
    description: '',
  },
  {
    caption: 'DevuConf 2023 - Kafka (por el Doc Centeno)',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-08-03+devuconf-v1-orizaba/conf1.png',
    description: '',
  },
  {
    caption: 'DevuConf 2023 - Miguel',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-08-03+devuconf-v1-orizaba/conf2.png',
    description: '',
  },
  {
    caption: 'DevuConf 2023 - Clean Code (por César García)',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-08-03+devuconf-v1-orizaba/conf3.png',
    description: '',
  },
  {
    caption: 'DevuConf 2023 - Despedida',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-08-03+devuconf-v1-orizaba/20230805_165546.jpg',
    description: '',
  },
  {
    caption: 'DevuConf 2023 - Team',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-08-03+devuconf-v1-orizaba/IMG_20230805_203816.jpg',
    description: '',
  },
  {
    caption: 'Día del programador - Tec de Orizaba',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-09-13+programer_s-day-ito-orizaba/376263729_180946181696091_2880021078999701680_n.jpg',
    description: '',
  },
  {
    caption: 'Día del Programador 2023 - Comunidades',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-09-13+programer_s-day-ito-orizaba/programers-day-team.jpg',
    description: '',
  },
  {
    caption: 'Día del programador - DevuTeam',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2023-09-13+programer_s-day-ito-orizaba/378118046_180946065029436_1933362213845605827_n.jpg',
    description: '',
  },
  {
    caption: 'International Women\'s Day 2024 - Devu swag',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-04-19+international-women_s-day+-uv-xalapa/devu-swag.png',
    description: ''
  },
  {
    caption: 'International Women\'s Day 2024 - Speakers',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-04-19+international-women_s-day+-uv-xalapa/ponentes.png',
    description: ''
  },
  {
    caption: 'International Women\'s Day 2024 - Devu RaspberryPi',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-04-19+international-women_s-day+-uv-xalapa/devu-raspberry.jpg',
    description: ''
  },
  {
    caption: 'Devu Super Happy Dev House 2024 - Sesiones de desarrollo',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/458499154_1904237496706471_442634612942305550_n.jpg',
    description: ''
  },
  {
    caption: 'Devu Super Happy Dev House 2024 - Participantes',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/459198389_392606940311527_8422109857485961691_n.jpg',
    description: ''
  },
  {
    caption: 'Devu Super Happy Dev House 2024 - Colaboración y mentoría',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/459192995_1176286770332650_6497962542602905298_n.jpg',
    description: ''
  },
  {
    caption: 'Devu Super Happy Dev House 2024 - GDG Xalapa team',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/459210195_1263481301663977_1617334819776946781_n.jpg',
    description: ''
  },
  {
    caption: 'Devu Super Happy Dev House 2024 - Getting ready',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/459210218_1244653419859943_1276748070244559874_n.jpg',
    description: ''
  },
  {
    caption: 'Devu Super Happy Dev House 2024 - Regalitos',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/459227260_1254578298891762_1472100521425046940_n.jpg',
    description: ''
  },
  {
    caption: 'Devu Super Happy Dev House 2024 - Comunidad',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/comunidad.png',
    description: ''
  },
  {
    caption: 'Devu Super Happy Dev House 2024 - Devu Merch',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/swag1.png',
    description: ''
  },
  {
    caption: 'Devu Super Happy Dev House 2024 - Devu Merch',
    image: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/swag2.png',
    description: ''
  },
]
---

<!-- Gallery of pictures with round border like cards in collage layout -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <!-- For each item in the items array, create a card with the image, caption, and description -->
  {
    items.map((item, idx) => {
      return (
        <div
          class="
            rounded-lg
            overflow-hidden
            shadow-lg
            hover:shadow-xl
            transition
            duration-300
            ease-in-out
            sm:hover:scale-125
            cursor-pointer
            border-2
            border-[var(--navy-blue-300)]
            hover:border-[var(--purple-color)]
            bg-[#0d1e32]
            p-4
          ">
          <Image
            class="w-full h-48 object-cover object-center rounded-t-lg"
            decoding="auto"
            loading="lazy"
            src={item.image}
            alt={item.caption}
            width={400}
            height={400} />
          <h2 class="
            mt-2
            mb-2
            Fredoka
            text-lg
            text-[var(--gray-color)]
          ">
            {item.caption}
          </h2>
        </div>
      )
    })
  }
</div>
