<div
    style="
      color: var(--gray-color);
      border: 1px solid var(--clear-gray);
    "
  class="
    Inter
    p-8
    transition-all
    rounded-lg
    text-center
    bg-gradient-to-l
    from-white/20
  ">
  <h3
    class="
      text-2xl
      pb-4
    "
  >
    Womens Techmakers
  </h3>
  <div
    class="
      p-8
      text-white
      text-center
    "
  >
    <h3>Charla de introducción a la programación</h3>
    <p>Fecha: 20 de marzo</p>
    <p>Hora: 10:00 am</p>
    <p>Plataforma: Google Meet</p>

    <button
      class="
        bg-blue-500
        hover:bg-blue-700
        text-white
        font-bold
        py-2
        px-4
        rounded
        mt-4
      "
    >Registrarse</button>

  </div>
</div>