<div
  style="
    color: var(--gray-color);
    border: 2px solid var(--clear-gray);
    border-style: dashed;
    border-width: .5cap;
  "
  class="
    Inter
    p-8
    rounded-lg
    text-center
    bg-gradient-to-l
    from-white/20
  ">
  <div class="">
    <h3 class="text-2xl pb-4">
      Womens Techmakers
    </h3>
    <div class="p-8 text-white text-center flex flex-col items-center">
      <h3>Charla de introducción a la programación</h3>
      <p>Fecha: 20 de marzo</p>
      <p>Hora: 10:00 am</p>
      <p>Plataforma: Google Meet</p>
      <button class="button-ghost-pink mt-8">
        Registrarse
      </button>
    </div>
  </div>
</div>