---
import SvGImage from "./svg-image.astro"
import { DevuMonster } from "./3dDevuMonster"
import SocialNetworks from "./social-network.astro"
import "./hero.style.css"
---

<div
  class="
    p-8
    flex
    sm:p-16
    min-h-screen
    relative
    md:items-center
    justify-between
    overflow-hidden
    backgroundGrandient
  ">
  <SvGImage />
  <!-- The z-index is necessary because we have the stars effect in the background and present an issue when selecting the Hero text -->
  <div
    style="z-index: 1;"
    class="flex justify-between w-full h-full" style="height: 500px;">
    <div class="text-left text-white">
      <h1
        class="
          Fredoka
          mb-10
          sm:mb-20
          md:mb-20
          text-7xl
          font-bold
          purple-font
        ">
        Devu Community
      </h1>
      <p class="mb-10 max-w-96 text-2xl">
        Devu es una comunidad abierta donde desarrolladores y aficionados a la
        tecnología buscan compartir su conocimiento, brindando apoyo a quienes
        lo necesitan.
      </p>
      <p class="mb-10 max-w-96 text-2xl">
        ¡Comienza a aprender y compartir con nosotros! 🚀
      </p>
      <div class="mb-10">
        <SocialNetworks />
      </div>
      <a href="#about" class="Inter button nav-link button-ghost-radiactive">
        ¡Conócenos!
      </a>
    </div>
    <div style="
      width: 600px;
      height: 729px;
      margin-right: -100px;
    ">
      <DevuMonster client:only="react"  />
    </div>
  </div>
</div>
