---
import LandingLayout from "../modules/landing/components/layout/index.astro"
import Hero from "../modules/landing/components/hero/index.astro"
import Title from "../modules/landing/components/title/index.astro"
import SectionsContainer from "../modules/landing/components/sections-container/index.astro"
import ValuesSection from "../modules/landing/components/values-section/index.astro"
import ProjectsSection from "../modules/landing/components/projects-section/index.astro"
import GallerySection from "../modules/landing/components/gallery-section/index.astro"
import TeamSection from "../modules/landing/components/team-section/index.astro"
import NextEventsSection from "../modules/landing/components/next-events-section/index.astro"
import AsideMenu from "../modules/landing/components/layout/navbar.astro"
---
<LandingLayout>
    <Hero />
    <SectionsContainer>
      <div
      >
        <AsideMenu />
      </div>
      <div>
        <section id="about" class="p-8">
          <ValuesSection />
        </section>
        <section id="events" class="p-8">
          <Title>Próximos eventos</Title>
          <NextEventsSection />
        </section>
        <section id="projects" class="p-8">
          <Title>Proyectos</Title>
          <ProjectsSection />
        </section>
        <section id="gallery" class="p-8">
          <Title>Galería</Title>
          <GallerySection />
        </section>
        <section id="team" class="p-8">
          <Title>Equipo</Title>
          <TeamSection />
        </section>
        <section id="communities">
          Comunidades aliadas
        </section>
      </div>
    </SectionsContainer>
</LandingLayout>

<script>
  // Smooth scrolling behavior
  document.addEventListener('DOMContentLoaded', function() {
    const links = document.querySelectorAll('.nav-link');
    
    links.forEach(link => {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        const targetId = this.getAttribute('href').substring(1);
        const target = document.getElementById(targetId);
        if (target) {
          const offsetTop = target.offsetTop;
          window.scrollTo({
            top: offsetTop,
            behavior: 'smooth'
          });
        }
      });
    });
  });
</script>