---
import "../modules/shared/styles/global.css"
import LandingLayout from "../modules/landing/components/layout/index.astro"
import Hero from "../modules/landing/components/hero/index.astro"
import Title from "../modules/landing/components/title/index.astro"
import ValuesSection from "../modules/landing/components/values-section/index.astro"
import ProjectsSection from "../modules/landing/components/projects-section/index.astro"
import GallerySection from "../modules/landing/components/gallery-section/index.astro"
import TeamSection from "../modules/landing/components/team-section/index.astro"
import NextEventsSection from "../modules/landing/components/next-events-section/index.astro"
import CommunitiesSection from "../modules/landing/components/communities-section/index.astro"
import NavbarMenu from "../modules/landing/components/layout/navbar.astro"
import Marquee from "../modules/landing/components/marquee/index.astro"
---
<style>
  section::before {
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
  }
</style>
<LandingLayout id="home">
  <NavbarMenu />
  <Marquee event={{ marqueeLabel: "Próximo evento: Nerdearla CDMX 2024. Este del 7 al 9 de noviembre. 10:00 - 14:00" }} />
  <section class="mb-28">
    <Hero />
  </section>  
  <div class="p-8 sm:p-16">
    <section id="about" class="mb-28">
      <ValuesSection />
    </section>
    <section id="events" class="mb-28">
      <NextEventsSection />
    </section>
    <section id="projects" class="mb-28">
      <Title>Proyectos</Title>
      <ProjectsSection />
    </section>
    <section id="gallery" class="mb-28">
      <Title>Galería</Title>
      <GallerySection />
    </section>
    <section id="team" class="mb-28">
      <Title>Equipo</Title>
      <TeamSection />
    </section>
    <section id="communities" class="mb-28">
      <Title>Comunidades aliadas</Title>
      <CommunitiesSection />
    </section>
  </div>
</LandingLayout>

<script>
  // Smooth scrolling behavior
  document.addEventListener('DOMContentLoaded', function() {
    const links = document.querySelectorAll('.nav-link');
    
    links.forEach(link => {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        const targetId = this.getAttribute('href').substring(1);
        const target = document.getElementById(targetId);
        if (target) {
          const offsetTop = target.offsetTop;
          window.scrollTo({
            top: offsetTop,
            behavior: 'smooth'
          });
        }
      });
    });
  });
</script>