<style>
  .devu-section-title:hover {
    text-decoration: dotted underline var(--purple-color);
  }
</style>
<h2
  style="
    color: var(--radioactive-green);
    transition: text-decoration 0.3s;
  "
  class="
    devu-section-title
    Fredoka
    pb-8
    text-3xl
    text-white
    text-center
  ">
  <slot />
</h2>
