---
import Item from './item.astro'

const members = [
  {
    fullName: 'Salma',
    title: 'Embajadora',
    avatarUrl: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/team/salma.jpeg',
    bio: 'Egresada de la carrera de...',
    socialNetworks: [],
    username: '@salma'
  },
  {
    fullName: 'Odon',
    title: 'Co-fundador',
    avatarUrl: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/team/odon.jpeg',
    bio: 'Egresado de la carrera de...',
    socialNetworks: [],
    username: '@odon'
  },
  {
    fullName: 'Joss',
    title: 'Embajadora',
    avatarUrl: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/team/josselin.jpeg',
    bio: 'Egresada de la carrera de...',
    socialNetworks: [],
    username: '@josselin'
  },
  {
    fullName: 'Chema',
    title: 'Co-fundador',
    avatarUrl: 'https://devu-landing-statics.s3.us-east-1.amazonaws.com/team/chema.jpeg',
    bio: 'Egresado de la carrera de...',
    socialNetworks: [],
    username: '@josemaria'
  }
]

---
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  {members.map(member => (
    <Item {...member} />
  ))}
</div>
