---
---

<footer
  style="color: #fff; background-color: #011126; padding: 4rem; text-align: center;"
>
  <!-- Contact Info -->
  <div class="flex justify-center space-x-4">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/devucommunity/"
      class="hover:underline">
      Contáctanos por instagram @devucommunity
    </a>
  </div>
  <span>
    © 2024-present Devu Community. All Rights Reserved.
  </span>
</footer>
