---
import Title from "../title/index.astro"
---

<footer
  id="footer"
  class="flex flex-col gap-8"
  style="color: #fff; background-color: #011126; padding: 4rem; text-align: center;"
>
  <Title>Contáctanos</Title>
  <!-- Contact Info -->
  <div class="flex flex-col justify-center space-x-4 gap-2">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/devucommunity/"
      class="hover:underline">
      Por instagram @devucommunity
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/https.luis.ar/"
      class="hover:underline">
      Autor del arte 3D @https.luis.ar
    </a>
  </div>
  <span>
    © 2024-present Devu Community. All Rights Reserved.
  </span>
</footer>
