---
import Footer from "./footer.astro"
import { i18n } from "../../../../modules/shared/i18n"

// setup localization
const lang = Astro.url.searchParams.get('lang');
const isValidLocale = i18n.availableLocales.includes(lang)
i18n.locale = isValidLocale ? lang : 'es'

// localization strings 
const localizationStrings = {
  locale: i18n.locale,
  mission: i18n.translate('landing.mission')
}
---

<html lang={localizationStrings.locale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Devu Community</title>
	</head>
	<body>
    <main
      style="
      "
      class="
        bg-gradient-to-b
        from-[var(--dark-blue)]
        to-[black]
        noise
      "
    >
      <section>
        <slot /> {/* content */}
        <Footer />
      </section>
    </main>
	</body>
</html>
