---
import Footer from "./footer.astro"
import { i18n } from "../../../../modules/shared/i18n"

// setup localization
const lang = Astro.url.searchParams.get('lang');
const isValidLocale = i18n.availableLocales.includes(lang)
i18n.locale = isValidLocale ? lang : 'es'

// localization strings 
const localizationStrings = {
  locale: i18n.locale,
  mission: i18n.translate('landing.mission')
}
---

<html lang={localizationStrings.locale}>
	<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/assets/devu-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Astro" />
    <link rel="sitemap" href="/sitemap.xml" />
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Devu es una comunidad abierta donde desarrolladores y aficionados a la tecnología comparten conocimientos, apoyándose mutuamente para crecer juntos." />
    <meta name="keywords" content="devu, comunidad, desarrolladores, tecnología, conocimiento, experiencias, ayuda, crecimiento" />
    <meta name="author" content="Devu Community" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#011126" />
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@DevuCommunity" />
    <meta name="twitter:title" content="Devu Community" />
    <meta name="twitter:description" content="Únete a Devu y sé parte de una comunidad de desarrolladores que comparten conocimientos y experiencias para ayudarse a crecer juntos." />
    <meta name="twitter:image" content="https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/459198389_392606940311527_8422109857485961691_n.jpg" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Devu Community" />
    <meta property="og:description" content="Únete a Devu, una comunidad abierta para desarrolladores y entusiastas de la tecnología que buscan compartir conocimientos y crecer juntos." />
    <meta property="og:image" content="https://devu-landing-statics.s3.us-east-1.amazonaws.com/gallery/2024-09-07+SuperHappyDevHouse/459198389_392606940311527_8422109857485961691_n.jpg" />
    <meta property="og:url" content="https://devu.community" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Devu Community" />
    <meta property="og:locale" content="es_MX" />

    <!-- Title -->
    <title>Devu Community</title>
  </head>
	<body>
    <main
      style="
      background-image: linear-gradient(
      45deg,
    hsl(214deg 100% 12%) 0%,
    hsl(213deg 100% 12%) 8%,
    hsl(213deg 100% 13%) 17%,
    hsl(213deg 100% 14%) 25%,
    hsl(213deg 100% 14%) 34%,
    hsl(213deg 100% 15%) 42%,
    hsl(213deg 100% 16%) 51%,
    hsl(221deg 71% 19%) 59%,
    hsl(229deg 54% 22%) 67%,
    hsl(238deg 43% 25%) 76%,
    hsl(248deg 42% 26%) 84%,
    hsl(258deg 43% 26%) 92%,
    hsl(266deg 44% 26%) 100%"
    >
      <section>
        <slot /> {/* content */}
        <Footer />
      </section>
    </main>
	</body>
</html>
