---
import Footer from "./footer.astro"
import { i18n } from "../../../../modules/shared/i18n"

// setup localization
const lang = Astro.url.searchParams.get('lang');
const isValidLocale = i18n.availableLocales.includes(lang)
i18n.locale = isValidLocale ? lang : 'es'

// localization strings 
const localizationStrings = {
  locale: i18n.locale,
  mission: i18n.translate('landing.mission')
}
---

<html lang={localizationStrings.locale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Devu Community</title>
	</head>
	<body>
    <main
      style="background-image: linear-gradient(
    45deg,
    hsl(214deg 100% 12%) 0%,
    hsl(213deg 100% 12%) 8%,
    hsl(213deg 100% 13%) 17%,
    hsl(213deg 100% 14%) 25%,
    hsl(213deg 100% 14%) 34%,
    hsl(213deg 100% 15%) 42%,
    hsl(213deg 100% 16%) 51%,
    hsl(221deg 71% 19%) 59%,
    hsl(229deg 54% 22%) 67%,
    hsl(238deg 43% 25%) 76%,
    hsl(248deg 42% 26%) 84%,
    hsl(258deg 43% 26%) 92%,
    hsl(266deg 44% 26%) 100%"
    >
      <section>
        <slot /> {/* content */}
        <Footer />
      </section>
    </main>
	</body>
</html>
