---
import { LanguageSelector } from "./language-selector"
import logoImage from "../../../../../public/assets/logo.png"
---
<style>
  .nav-link {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: color 0.1s;
  }

  .nav-link:hover {
    color: var(--radioactive-green);
  }

  .nav-link:active {
    color: var(--pink-color);
  }
</style>
<aside class="
  hidden
  sm:flex
  justify-between
  bg-transparent
  text-white
  h-screen
  sticky
  top-0
  pr-8
  pl-8
  pt-16
  pb-16
">
  
  <ul class="flex flex-col items-start gap-3">
    <!-- hide options in small screens -->
    <li class="">
      <a href="#about" class="nav-link Inter">¿Qué es todo esto?</a>
    </li>
    <li class="">
      <a href="#events" class="nav-link Inter">Eventos</a>
    </li>
    <li class="">
      <a href="#projects" class="nav-link Inter">Proyectos</a>
    </li>
    <li class="">
      <a href="#gallery" class="nav-link Inter">Galería</a>
    </li>
    <li class="">
      <a href="#team" class="nav-link Inter">Equipo</a>
    </li>
    <li>
      <LanguageSelector currentLanguage="MX" client:only="react" />
    </li>
  </ul>
</aside>
