---
import { LanguageSelector } from "./language-selector"
import logoImage from "../../../../../public/assets/logo.png"
import { Image } from 'astro:assets';

---
<style>
  .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--soft-white);
    text-decoration: none;
    transition: color 0.1s;
  }

  .nav-link:hover {
    color: var(--radioactive-green);
  }

  .nav-link:active {
    color: var(--pink-color);
  }

  ul {
    list-style: none;
  }

</style>
<nav class="
  bg-transparent
  text-white
  sticky
  top-0
  position-fixed
  z-50
  p-4
  flex
  w-full
  justify-between
  backdrop-filter
  backdrop-blur-2xl
  bg-opacity-50
  shadow-lg
  border-b-2
  border-solid
  border-white
  border-opacity-10
  border-t-0
  border-l-0
  border-r-0
">
  <ul class="flex flex-row items-center gap-4">
    <li class="">
      <a href="#home" class="nav-link Inter">
        <Image decoding="async" loading="eager" src='/public/assets/devu-icon.png' alt="Devu" width="35" height="42" />
      </a>
    </li>
    <!-- hide options in small screens -->
    <li class="">
      <a href="#about" class="nav-link Fredoka">Sobre nosotros</a>
    </li>
    <li class="">
      <a href="#events" class="nav-link Fredoka">Eventos</a>
    </li>
    <li class="">
      <a href="#projects" class="nav-link Fredoka">Proyectos</a>
    </li>
    <li class="">
      <a href="#gallery" class="nav-link Fredoka">Galería</a>
    </li>
    <li class="">
      <a href="#team" class="nav-link Fredoka">Equipo</a>
    </li>
  </ul>
  <ul class="flex flex-row items-center gap-3">
    <li class="">
      <a href="#footer" class="nav-link Fredoka">Contacto</a>
    </li>
    <li class="">
      <a href="#team" class="nav-link Fredoka">Código de conducta</a>
    </li>
    <li>
      <LanguageSelector currentLanguage="MX" client:only="react" />
    </li>
  </ul>
</nav>
