---
import Item from './item.astro'
import { VALUES } from './VALUES';
---
<div class="
  gap-8
  grid
  rounded-lg
  grid-cols-1
  sm:grid-cols-1
  md:grid-cols-2
  lg:grid-cols-3
">
  {VALUES.esMX.map(item => (
    <Item title={item.title} content={item.content} />
  ))}
</div>
