---
import Item from './item.astro'
const items = [
  {
    title: 'Misión',
    content: 'Ser una organización que promueve la inclusión y la innovación en la educación, la ciencia y la tecnología, a través de la cooperación y la participación de la sociedad, para contribuir al desarrollo sostenible de la humanidad.'
  },
  {
    title: 'Visión',
    content: 'Somos una organización líder en la promoción de la inclusión y la innovación en la educación, la ciencia y la tecnología, que contribuye al desarrollo sostenible de la humanidad, a través de la cooperación y la participación de la sociedad.'
  },
  {
    title: 'Valores',
    content: 'Inclusión, innovación, cooperación, respeto, responsabilidad, integridad, transparencia, equidad, solidaridad, sostenibilidad, calidad, efici'
  }
]
---
<div class="
  gap-8
  grid
  rounded-lg
  grid-cols-1
  sm:grid-cols-1
  md:grid-cols-2
  lg:grid-cols-3
">
  {items.map(item => (
    <Item title={item.title} content={item.content} />
  ))}
</div>
