---
const { title, content } = Astro.props;
---
<style>
  .devu-bordered-card {
    color: var(--dark-blue);
    border: 0px solid var(--dark-purple);
  }
  .devu-bordered-card:hover {
    border: 4px solid var(--dark-purple);
    border-style: dotted;
  }

  .devu-bordered-card:hover > h1 {
    color: initial;
  }
</style>
<article
  style="
    box-sizing: border-box;
    background-color: var(--purple-color);
  "
  class="
    devu-bordered-card
    p-6
    rounded-lg
    shadow-lg
    hover:shadow-xl
    transition
    duration-300
    ease-in-out
    transform
    hover:scale-105
    hover:p-5
  ">
  <h1
    class="
      Fredoka
      text-2xl
      font-bold
    ">{title}</h1>
  <p class="Inter">{content}</p>
</article>
