@font-face {
  font-family: FredokaOne;
  src: url(/assets/font/FredokaOne-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(/assets/font/inter/Inter-Medium.ttf);
}

:root {
  --soft-white: #F6F7F9;
  --clear-gray: #E5E5E5;
  --gray-color: #DFDEDE;
  --dark-blue: #001A3B;
  --navy-blue: #002451;
  --navy-blue-100: #1C58A3;
  --navy-blue-200: #476A96;
  --navy-blue-300: #618BC0;
  --pink-color: #FF759B;
  --pink-100: #D08DA0;
  --pink-200: #D08DA0;
  --pink-300: #FFA5BE;
  --radioactive-green: #99F2BF;
  --purple-color: #AB7ABF;
  --dark-purple: #4B2E57;
  --dark-purple-100: #311D3A;
  --gradient-green: linear-gradient(90deg, #000000 0%, #99F2BF 100%);
  --gradient-purple: linear-gradient(90deg, #AB7ABF, #000000 0%,  100%);

  /*
  241348
  141047
  1b1745
  */
  --bg-color: #0b082e;
}

html {
  font-size: 16px; /* 1rem = 12px */
}

body {
  background-color: #23272f;
  color: #1a1b1c;
}

.Fredoka {
  font-family: "FredokaOne", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.Inter {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.purple-font {
  color: var(--purple-color);
}

.button-ghost-black {
  background: transparent;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter";
  border: solid 1px #000;
  box-sizing: border-box;
  display: block;
  width: fit-content;
}
.button-ghost-black:hover {
  background: #000;
  color: #FFF;
}

.button-ghost-radiactive {
  background: transparent;
  color: var(--radioactive-green);
  border: none;
  padding: 8px 16px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter";
  border: solid 1px var(--radioactive-green);
  box-sizing: border-box;
  display: block;
  width: fit-content;
}
.button-ghost-radiactive:hover {
  background: var(--radioactive-green);
  color: var(--dark-blue);
}

.button-ghost-pink {
  background: transparent;
  color: var(--pink-color);
  border: none;
  padding: 8px 16px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter";
  border: solid 1px var(--pink-color);
  box-sizing: border-box;
  display: block;
  width: fit-content;
}
.button-ghost-pink:hover {
  background: var(--pink-color);
  color: var(--dark-blue);
}


