---
import Item from './item.astro'
const items = [
  {
    name: 'DevuConf',
    coverImage: '/images/mission.jpg',
    description: `
      DevuConf es un evento gratuito que
      llevamos a cabo en la ciudad de Orizaba,
      en el que nos reunimos para escuchar charlas de excelentes speakers
      y compartir experiencias.
    `
  },
  {
    name: 'Super Happy Dev House',
    coverImage: '/images/values.jpg',
    description: `
      Es una fiesta para Hackers y aficionados a la tecnología,
      en la que nos reunimos para programar juntos
      en múltiples proyectos y ayudarnos mutuamente.
    `
  },
  {
    name: 'Devuggin Day',
    coverImage: '/images/values.jpg',
    description: `
      Es una celebración al crecimiento profesional y personal que ocurre en el área tecnológica
      en el que compartimos la experiencia y aprendizaje de los errores, problemas y retos
      que hemos enfrentado en el camino.
    `
  },
]
---
<!-- A carousel that automatically scrolls to the left and stops on hover -->
<div class="
  grid
  gap-4
  grid-cols-1
  md:grid-cols-2
  lg:grid-cols-2
  xl:grid-cols-2
  ">
  {items.map(item => (
    <Item title={item.name} content={item.description} />
  ))}
</div>
