---
const { name, logo } = Astro.props;
import Title from "../title/index.astro";
---
<!-- tailwind cards -->
<!-- show the card over its container -->
<div
  style="
    color: #ffffff;
    min-width: 300px;
  "
  class="
    transition
    duration-300
    ease-in-out
    transform
    hover:scale-105
    hover:z-10
  "
>
  <div class="flex flex-col items-center justify-center">
      <img
        alt={`${name} logo`}
        class="w-32 h-32"
        src={logo}
        alt={name}
      />
      <h2
      class="
        devu-section-title
        Fredoka
        pb-8
        text-3xl
        text-white
        text-center
      ">{name}</h2>
  </div>
</div>
